In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"A":["a","b","c","a"]})

In [4]:
df["B"] = df["A"].astype('category')

In [5]:
df

   A  B
0  a  a
1  b  b
2  c  c
3  a  a

In [9]:
df.to_hdf('../data/processed_data/data.h5', key='df', format='table')

In [10]:
del df

In [12]:
df = pd.read_hdf('../data/processed_data/data.h5')

In [13]:
df

   A  B
0  a  a
1  b  b
2  c  c
3  a  a

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 2 columns):
A    4 non-null object
B    4 non-null category
dtypes: category(1), object(1)
memory usage: 172.0+ bytes